.searchItem {
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}

.hotelDesc {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.hotelTitle {
    color: #0071c2;
}

.hotelTaxiOp {
    background-color: #008009;
    color: white;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
}

.hotelSubtitle {
    font-weight: bold;
}

.hotelCancelOp {
    color: #008009;
    font-weight: bold;
}

.hotelCancelOpSubtitle {
    color: #008009;
}

.hotelDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.hotelRating {
    display: flex;
    justify-content: space-between
}

.hotelRating>span {
    font-weight: 500;
}

.hotelRating>button {
    background-color: #003580;
    color: white;
    padding: 5px;
    font-weight: bold;
    border: none;
}

.hotelDetailTexts {
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hotelTaxOp {
    color: gray;
}

.hotelCheckButton {
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .hotelImg {
        display: none;
    }
}